$def with()

<h2>Hack 1: Automatic Front-Door Opener</h2>
<h3 class="synopsis">
Once you do something the second time, it's time for that something to be automated. After rising from a reclined position to buzz in guests at our front gate for the thirtieth time, it was time to bring the gate closer to our fingers. We used an Electric Imp to provide a web interface to a simple circuit, which we connected to our 
</h3>
<p>
  <img style="width: 400px;" src="/static/imgs/door-open-circuit.jpg" alt="gate circuit"/>
</p>

<h3>Parts</h3>
<ul>
  <li><a href="http://www.amazon.com/SparkFun-Basic-Breadboard/dp/B004G4VR0I/ref=sr_1_12?s=electronics&ie=UTF8&qid=1361187310&sr=1-12&keywords=solderless+breadboard">Breadboard</a></li>
  <li><a href="http://en.wikipedia.org/wiki/TIP31">TIP31 Transistor TO-220 case * NPN silicon</a></li>
  <li><a href="http://www.amazon.com/RESISTOR-METAL-FILM-FLAMEPROOF-AXIAL/dp/B007Z7MZN6/ref=sr_1_15?s=electronics&ie=UTF8&qid=1361187259&sr=1-15&keywords=100+ohm+resistor">100 Ohm resistor, 1/8 Watt</a></li>
</ul>
